.LoginScreen {

position: relative;

height: 100%;

background: url('../assets/images/netflix-login.jpg');

background-size: cover;

}

.netflix_logo{

position: fixed;

left: 0;
width: 150px;

object-fit: contain;

padding-left: 20px;

}
.loginScreen_button {

position: fixed;
border-radius: 5px;
right: 20px;
border: none;
cursor: pointer;
top :20px ; 
font-weight: 600;
padding : 10px 20px ;
background-color: #e50914;
font-size: 1.5rem;
color :white
}

.loginScreen_gradiant {

width: 100%;

z-index: 1;

height: 100vh;


background: rgba(0, 0, 0, 0.4);


background-image: linear-gradient(
to top , 

rgba(0,0,0,0.8) 0 ,
rgba(0,0,0,0) 50% ,
rgba(0,0,0,0.8) 100% ,


);


}
