@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");

::-webkit-scrollbar {
  display: none;
}


.d-none {
  display: none;
}

/*
*
* Boiler Plate stuff 
*
*********************************/
:root {
  --movie-width: 18vw;
  --movie-height: 200px;
  --arrow-width: 50px;
  --slider-py: 250px;
}

@media only screen and (max-width: 1000px) {
  :root {
    --movie-width: 25vw;
  }
}

body {
  background-color: #141414;
  font-family: "Heebo", sans-serif;
}

.slider {
  overflow-y: hidden;
}

.container_ {
  margin-top: -5%;
  position: relative;
}

.logo {
  color: red;
  font-size: 4rem;
  text-align: center;
}

/*
*
* THE SLIDER CONTAINER
*
*********************************/
.slider {
  counter-reset: slide-counter;

  scroll-behavior: smooth;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  padding-top: var(--slider-py);
}





.slide {
  position: absolute;
  cursor: pointer;
  top: 54%;
  background-color: rgba(0, 0, 0, 0.089);
  z-index: 1000;
}

.front {
  right: 0;

}

.back {
  left: 0;

}


.row_title {
  color: #e9e3e3;
  font-family: Arial;
  padding-bottom: 20px;
  padding-left: 50px;
  font-size: 1.5vw;
  line-height: 1.25vw;
  vertical-align: bottom;

}

/*
*
* SLIDER INDICATORS
*
*********************************/
.indicator-container {
  padding-right: 15px;
}



.indicator {
  margin-right: 6px;
  width: 15px;
  height: 2px;
  background-color: grey;
  display: inline-block;
}

.indicator.active {
  background-color: white;
}

/*
*
* MOVIE ELEMENTS!
*
*********************************/
.movie {
  counter-increment: slide-counter;

  width: var(--movie-width);
  height: var(--movie-height);
  display: inline-block;
  position: relative;
  color: white;
  margin: 0 5px;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;

}

.row-1-md {
  position: absolute;
  top: 18vh;
}

.row-1-md {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.slide-btn {

  display: block;
}

.movie:nth-of-type(1) {
  margin-left: var(--arrow-width);
}

.movie>.playVid {
  z-index: 999999999999999999999;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.visible {
  display: flex;
}

.hovered {
  transition: all 0.3s ease-in-out;
  transform: translateY(-210px) translateX(40px) scale(1.2);
  z-index: 20000;
}

@media only screen and (min-width: 900px) {


  /* Make description visible when movie is hovered */





}


/*
*
* BUTTONS
*
*********************************/
.btn-nav {
  width: var(--arrow-width);
  height: var(--movie-height);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  color: white;
  top: var(--slider-py);
  z-index: 5;
  visibility: hidden;
}

#moveLeft {
  left: 0;
}

#moveRight {
  right: 0;
}

@media only screen and (max-width: 900px) {
  .btn-nav {
    display: none;
  }
}

@media only screen and (min-width: 901px) {

  .container:hover .btn-nav,
  .container:hover .container-indicators {
    visibility: visible;
  }
}



.description_container {
  position: absolute;
  display: none;
  z-index: 9999;
  width: 100%;
  height: fit-content;
  margin-top: -5px;

}



.col-md-1 {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-first_section {
  display: inline-block;

}

.col-first_section button {
  margin-right: 10px;
}

.info_container {
  padding: 15px;
  background-color: #141414;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 5px;
  display: flex;
  margin: 0;
}



.col-md-4 .classes-list {

  width: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

.col-md-4 ul li {
  margin-left: 10px;
  margin-right: 5px;

}

.col-md-4 ul li p {
  font-size: 1.6em;
  font-weight: 700;
  color: #777;
  position: relative;
  left: -9px;
}

.col-md-4 ul li {

  list-style-type: none;
}


.col-first_section button {

  display: inline-flex;
  justify-content: center;

  align-items: center;

  max-width: 42px;
  min-width: 40px;

  max-height: 42px;
  min-height: 40px;

  background-color: aliceblue;

  border-radius: 50%;

}

.col-first_section :nth-child(2) {

  background-color: rgba(42, 42, 42, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-width: 2px;
  color: var(--white);
}

.col-first_section :nth-child(3) {

  background-color: rgba(42, 42, 42, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-width: 2px;
  color: var(--white);
}


.col-second_section button {
  display: inline-flex;
  justify-content: center;

  align-items: center;

  max-width: 42px;
  min-width: 40px;

  max-height: 42px;
  min-height: 40px;

  background-color: aliceblue;

  border-radius: 50%;

  background-color: rgba(42, 42, 42, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-width: 2px;
  color: var(--white);
}


.col-second_section button svg {


  width: 18px;


  height: 20px;

  color: #e9e3e3;

}

.col-md-2 .corespond {
  margin: 0;
  text-align: left;
  color: #46d369;
  font-size: 1.6rem;
  font-weight: 700;
}

.col-md-3 button {



  margin-right: 10px;


}

.col-md-3 :nth-child(1) {

  background-color: #e02e2e;
  padding: 5px;
  margin-right: 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;

}

.col-md-3 :nth-child(2) {

  background-color: rgba(42, 42, 42, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-width: 2px;
  color: var(--white);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;

}

.col-md-3 :nth-child(3) {
  font-size: 1.6rem;
  font-weight: 700;
  color: #e9e3e3;
  border-color: transparent;
  background-color: transparent;

}

.indicator-container {
  display: none;
}

.container_:hover .indicator-container {
  display: flex;
}

.slide-btn {
  display: none;
}

.container_:hover .slide-btn {
  display: block;
}

.Action {
  object-fit: cover;
  width: 10vw;
  height: 400px;
}

.Action  video  {
  object-fit: cover;

}

.Top .playVid {
  width: 50%;
  margin-right: 50%;
}



.slider .Top::before {
  content: counter(slide-counter);
  margin-right: 1%;
  line-height: 147px;
  color: #000;
  font-size: 270px;
  font-weight: 900;
  -webkit-text-stroke: 5px #595959;
}



.collapsed {
  z-index: 99999999999999999999999999999999999999999;
  position: absolute;
  top: 0;
  left: 50%;
}